
$bgMain: #1a1a1f;
$bgAverage: #2a2931;
$bgBlock: #222127;

$bgInput:#1a1a1c;
$bgButton:#1a1a1c;

$colorOrange: rgb(255, 109, 13);
$colorGray: #c9c8c8;

$borderRadius: 8px;

$bottomOrange: rgb(121, 79, 1);

$breakpointDesktop: 1280px;
$breakpointLaptop: 1024px;
$breakpointTablet: 768px;
$breakpointMobile: 320px;

