@import './vars';
@import './mixins';

.bots_container {
   margin: 30px auto;
   border-radius: $borderRadius;
   background-color: $bgBlock;
   max-width: 1200px;
   padding: 30px;

   .content {
      display: flex;
      flex-direction: row;
      gap: 30px;
      // white-space: nowrap;
      // overflow-x: auto;

      &::-webkit-scrollbar-thumb {
         background: $bgAverage;
      }

      &::-webkit-scrollbar-track {
         background: $bgMain;
      }
   }
}
