@import '@/app/assets/_vars';
@import '@/app/assets/_mixins';

.bots_container {
   margin: 30px auto;
   border-radius: $borderRadius;
   background-color: $bgBlock;
   max-width: 1200px;
   padding: 0 30px 30px 30px;

   .content {
      display: flex;
      flex-direction: row;
      gap: 30px;
      padding: 30px 0;
      overflow-x: scroll;

      .bots_null {
         display: flex;
         justify-content: center;
         width: 100%;
      }

      &::-webkit-scrollbar-thumb {
         background: $bgAverage;
         border-radius: 5px;
      }
      &::-webkit-scrollbar-track {
         background: $bgMain;
         border-radius: 5px;
      }
   }
}
