@import './vars';
@import './mixins';

.bonus_container {
   margin: 0 auto;
   background: $bgBlock;
   max-width: 1200px;
   border-radius: $borderRadius;
   padding: 30px;

   .content {
      display: flex;
      gap: 30px;
   }
}

.last_container {
   margin: 30px auto 0;
   background: $bgBlock;
   max-width: 1200px;
   border-radius: $borderRadius;
   padding: 30px;

   .content {
      ul {
         display: flex;
         width: 100%;
         display: flex;

         li {
            width: 100%;
            opacity: 0.8;
            border: 1px solid $bgAverage;
            padding: 10px;
         }
      }

      .operations_history {
         display: flex;

         ul {
            display: block;
         }

         p {
            width: 100%;
            text-align: center;
            padding-top: 30px;
            opacity: 0.6;
         }
      }
   }
}

.central_container {
   margin: 30px auto;
   background: $bgBlock;
   max-width: 1200px;
   border-radius: $borderRadius;
   padding: 30px;

   .content {
      display: flex;
      gap: 30px;
   }
}

@include desktop() {
   .container {
      max-width: 600px;
   }
   .bonus_container {
      max-width: 1000px;
   }
}
