$bgMain: #1a1a1f;
$bgAverage: #2a2931;
$bgBlock: #222127;
$bgMax: #36353e;

$BorderColor: #4c4d4f;

$bgInput: #222128;
$bgButton: #222128;
$bgInputBlock: #18171c;

$colorOrange: rgb(255, 109, 13);
$colorGray: #c9c8c8;

$borderRadius: 8px;

$bottomOrange: rgb(121, 79, 1);

$breakpointDesktop: 1280px;
$breakpointLaptop: 1024px;
$breakpointTablet: 768px;
$breakpointMobile: 320px;

$--ep-color-primary: green;
$--ep-color-primary-light-3: #066006;
$--ep-color-primary-light-5: #0a4a0a;
$--ep-color-primary-light-7: #0e340e;
$--ep-color-primary-light-8: #102a10;
$--ep-color-primary-light-9: #121f12;
$--ep-color-primary-dark-2: #339933;
$--ep-color-success: #21ba45;
$--ep-color-success-light-3: #1d8836;
$--ep-color-success-light-5: #1b672d;
$--ep-color-success-light-7: #184623;
$--ep-color-success-light-8: #17351e;
$--ep-color-success-light-9: #152519;
$--ep-color-success-dark-2: #4dc86a;

$--ep-color-warning: #f2711c;
$--ep-color-warning-light-3: #af551a;
$--ep-color-warning-light-5: #834318;
$--ep-color-warning-light-7: #573016;
$--ep-color-warning-light-8: #402716;
$--ep-color-warning-light-9: #2a1d15;
$--ep-color-warning-dark-2: #f58d49;
$--ep-color-danger: #db2828;
$--ep-color-danger-light-3: #9f2222;
$--ep-color-danger-light-5: #781e1e;
$--ep-color-danger-light-7: #501a1a;
$--ep-color-danger-light-8: #3c1818;
$--ep-color-danger-light-9: #281616;
$--ep-color-danger-dark-2: #e25353;
$--ep-color-error: #db2828;
$--ep-color-error-light-3: #9f2222;
$--ep-color-error-light-5: #781e1e;
$--ep-color-error-light-7: #501a1a;
$--ep-color-error-light-8: #3c1818;
$--ep-color-error-light-9: #281616;
$--ep-color-error-dark-2: #e25353;
