@import '@/app/assets/_vars';
@import '@/app/assets/_mixins';

.container {
   width: 40vw;
   height: 100vh;
   background: $bgBlock;
   margin: 0 auto;
   border-radius: $borderRadius;

   display: flex;
   justify-content: space-between;

   .left_panel {
      margin-top: 10px;
      margin-left: 40px;
      color: rgb(189, 189, 189);

      .username_container {
         margin-top: 5px;
         display: flex;
         background: #101010;
         border-radius: $borderRadius;
         padding: 3px;
         padding-top: 0;

         .edit_username {
            cursor: pointer;
            margin-top: 4px;
            margin-left: 5px;
            color: gray;
            transition: 0.2s;

            &:hover {
               color: rgb(255, 109, 13);
            }
         }

         .username {
            font-size: 22px;
            font-weight: 500;
         }
      }

      .email_container {
         margin-top: 5px;
         display: flex;
         background: #101010;
         border-radius: $borderRadius;
         padding: 4px;
         padding-top: 0;

         .email {
            color: rgb(152, 152, 152);
         }
      }
   }

   .right_panel {
      margin-top: 10px;
      margin-right: 10px;
      color: rgb(189, 189, 189);
      font-size: 18px;

      .role_container {
         display: flex;
         background: #101010;
         border-radius: $borderRadius;
         padding: 5px;
         padding-top: 0;

         .edit_role {
            cursor: pointer;
            margin-top: 4px;
            margin-left: 5px;
            color: gray;
            transition: 0.2s;

            &:hover {
               color: rgb(255, 109, 13);
            }
         }
      }

      .balance_container {
         margin-top: 5px;
         display: flex;
         background: #101010;
         border-radius: $borderRadius;
         padding: 5px;
         padding-top: 0;
         justify-content: flex-end;

         .edit_balance {
            cursor: pointer;
            margin-top: 4px;
            margin-left: 5px;
            color: gray;
            transition: 0.2s;

            &:hover {
               color: rgb(255, 109, 13);
            }
         }
      }
   }
}
