@import '@/app/assets/_vars';

.control_container {
   margin: 15px auto;
   border-radius: $borderRadius;
   background-color: $bgBlock;
   max-width: 600px;
   padding: 15px;
   display: flex;
   flex-direction: column;

   .info {
      display: flex;
      width: 100%;
      justify-content: space-around;
      gap: 30px;
   }

   .hotbar {
      display: flex;
      justify-content: center;

      .slots {
         cursor: pointer;
         border: 2px solid black;
         height: 58px;
         display: flex;
         flex-direction: row;
         gap: 1px;

         .slot {
            .slot_image {
               user-select: none;
               pointer-events: none;
            }
         }
      }
   }
}

.inner_container {
   display: flex;
   justify-content: center;

   .sidebar {
      width: 160px;
      background: $bgBlock;
      border-radius: $borderRadius;
      margin-right: 30px;
      color: $--ep-color-dark-gray;
      padding: 0 0.75rem;

      .title_container {
         display: flex;
         align-items: center;
         margin-top: 0.75rem;
         padding-bottom: 0.25rem;
         cursor: pointer;
         user-select: none;

         .title_svg {
            fill: gray;
            margin-right: 5px;
         }

         .title_text {
            font-weight: bold;
         }
      }

      .items_container {
         display: flex;
         flex-direction: column;
         padding-bottom: 0.5rem;

         .divider {
            height: 1px;
            width: 100%;
            background: #36353e;
            margin-top: 0.5rem;
         }

         .item {
            display: flex;
            border-radius: 5px;
            cursor: pointer;
            align-items: center;
            height: 40px;
            padding: 0.5rem;
            margin: 0.5rem 0 0;
            font-size: 15px;
            user-select: none;

            &[data-selected='true'] {
               opacity: 0.9;
               background: $bgMain;
            }

            &:hover {
               opacity: 0.9;
               background: $bgMain;
            }

            .item_svg {
               margin-right: 5px;
            }
            .item_text {
               font-weight: bold;
            }
         }
      }

      @media (max-width: 845px) {
         display: none;
      }
   }

   .main_container {
      position: relative;
      border-radius: $borderRadius;
      background-color: $bgBlock;
      width: 600px;
      padding: 15px;

      .header {
         border-bottom: 1px solid $bgMax;
         padding-bottom: 10px;
         display: flex;

         .avatar {
            border-radius: 3px;
            margin-right: 5px;
            background: $bgMax;
            width: 37px;
            height: 37px;

            img {
               width: 37px;
               height: 37px;
               border-radius: 4px;
            }
         }

         .left_side {
            width: 100%;

            .username {
               .bot_id {
                  font-weight: bold;
                  font-size: 14px;
                  color: gray;
               }
            }
            .server {
               opacity: 0.8;
               font-size: 15px;
            }
         }

         .right_side {
            display: flex;
            align-items: center;
            gap: 5px;

            .button_leave {
               height: 30px;
            }
         }
      }
      .chat_container {
         position: relative;

         .chat_scroll_button {
            position: absolute;
            z-index: 1;
            bottom: 10px;
            right: 20px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;

            &[data-active='true'] {
               opacity: 0.4;

               &:hover {
                  opacity: 1;
               }
            }
         }
         .chat {
            height: 400px;
            display: flex;
            flex-direction: column;
            gap: 2px; //7
            padding: 5px 0;
            overflow-y: auto;
            position: relative;
            padding-right: 5px;

            &::-webkit-scrollbar {
               width: 10px;
               background: $bgBlock;
            }

            &::-webkit-scrollbar-thumb {
               background: $bgMax;
               width: 15px;
               height: 30px;
               border-radius: 1px;
            }

            .empty_message {
               opacity: 0.7;
               margin: 170px auto;
               transform: translate(0, -50%);
            }
            .message {
               // .timestamp {
               //    font-weight: bold;
               //    color: gray;
               //    font-size: 13px;
               //    margin-right: 5px;
               // }
               padding: 2px 5px;
               background: #1e1d22;
               border-radius: 3px;
               word-break: break-all;
               border: 1px solid $bgAverage;
               line-height: 20px;
               display: flex;
               display: inline;

               .message_letter {
                  display: inline;
               }
            }

            .notify {
               border: 1px solid $bgAverage;
               width: 100%;
               border-radius: 4px;
               padding: 10px;
               display: flex;
               gap: 10px;
               position: relative;

               .timestamp {
                  position: absolute;
                  font-weight: bold;
                  color: gray;
                  font-size: 14px;
                  right: 10px;
                  top: 10px;
               }

               .side {
                  display: flex;
                  align-items: center;
               }

               .content {
                  .description {
                     font-size: 15px;
                  }
               }
            }

            .notify[data-notify='green'] {
               background: green;
            }

            .notify[data-notify='red'] {
               background: #2a1d15;
               color: #f2711c;
            }

            .notify[data-notify='yellow'] {
               background: #35310c;
            }
         }
      }
      .footer {
         display: flex;
         border-top: 1px solid $bgMax;
         padding-top: 10px;

         .connect_button {
            margin: 0 auto;
            width: 150px;
            height: 35px;
         }

         .connect_button_loader {
            margin: 0 auto;
            width: 150px;
            height: 35px;
            opacity: 0.6;
         }

         .text_input {
            width: 100%;
            border-radius: $borderRadius;
            background: $bgMax;
            color: $colorGray;
            border: none;
            outline: none;
            padding: 10px;
            font-size: 17px;
            word-break: break-all;
         }
         .chat_send {
            background: none;
            padding: 0;
            padding-left: 10px;

            svg {
               fill: $bgMax;
            }
         }
      }

      .autoclicker_container {
         position: relative;
         padding-top: 15px;
         width: 100%;

         .autoclicker_block {
            background: $bgAverage;
            padding: 15px 15px 0;
            border-radius: 5px;

            .title {
               color: $colorGray;
               font-weight: bold;
            }

            .content {
               padding: 15px 0 15px;
               display: flex;
               gap: 10px;

               .input_value {
                  border-radius: 3px;
                  background: $bgMain;
                  width: 1200px;
                  letter-spacing: 1px;
                  font-size: 17px;
               }

               .power_button {
                  &[data-disabled='true'] {
                     opacity: 0.5;
                     cursor: default;
                  }
               }
            }
         }
      }

      .inventory_container {
         padding-top: 15px;
         display: flex;
         justify-content: center;
         position: relative;
         min-height: 430px;

         .small_chest {
            padding: 10px;
            background: $bgAverage;
            border-radius: 5px;
            position: relative;

            .title {
               color: gray;
               font-weight: bold;
            }

            .chest {
               .window_header {
                  display: flex;
                  justify-content: space-between;
                  padding-bottom: 10px;

                  .buttons {
                     display: flex;
                     gap: 5px;
                     margin-right: 5px;

                     .window_header_button {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        width: 30px;
                        height: 25px;
                     }
                  }
               }

               .main {
                  display: grid;
                  grid-template-columns: repeat(9, calc(100% / 9));
                  grid-template-rows: repeat(3, 1fr);

                  .slot {
                     margin-right: 4px;
                     margin-bottom: 4px;
                  }
               }
            }

            .inventory {
               .main {
                  display: grid;
                  grid-template-columns: repeat(9, calc(100% / 9));
                  grid-template-rows: repeat(3, 1fr);
                  margin-bottom: 6px;

                  .slot {
                     margin-right: 4px;
                     margin-bottom: 4px;
                  }
               }
               .hotbar {
                  display: grid;
                  grid-template-columns: repeat(9, calc(100% / 9));
               }
            }
         }

         .taken_item {
            position: fixed;
            z-index: 3;
            pointer-events: none;
         }

         .tooltip {
            pointer-events: none;
            z-index: 3;
            position: fixed;
            width: 100px;
            height: 100px;
            background: black;
            border-radius: 4px;
         }

         .count {
            z-index: 2;
            position: absolute;
            right: 2px;
            bottom: 0;
            color: #fff;
            font-weight: bold;
            user-select: none;
            pointer-events: none;
            text-shadow: $bgMain 1px 2px;
         }

         > .inventory {
            background: $bgAverage;
            border-radius: 5px;
            // width: 431px;
            padding: 10px 6px 10px 10px;

            .up {
               display: flex;
               gap: 4px;

               .armor {
                  display: flex;
                  flex-direction: column;
                  gap: 4px;

                  .slot[data-slot='5'] {
                     background-image: url('/public/MINECRAFT/empty_armor_slot_helmet.png');
                  }
               }

               .steve {
                  width: 120px;
                  height: 192px;
                  border-radius: 4px;
                  background: $bgMain;
                  border: 2px solid $bgBlock;
               }

               .offhand {
                  position: relative;
                  display: flex;
                  width: 45px;

                  .slot {
                     position: absolute;
                     bottom: 0;
                  }
               }

               .crafting {
                  margin-left: 10px;
                  .title {
                     color: $bgMain;
                     letter-spacing: 1px;
                     font-weight: bold;
                     margin-bottom: 2px;
                  }

                  .crafting_container {
                     display: flex;
                     gap: 4px;

                     .crafting_slots {
                        flex-direction: column;
                        display: flex;
                        gap: 4px;

                        .side {
                           display: flex;
                           gap: 4px;
                        }
                     }

                     .arrow {
                        display: flex;
                        align-items: center;
                     }

                     .crafting_result {
                        display: flex;
                        align-items: center;
                     }
                  }
               }

               margin-bottom: 10px;
            }

            .down {
               .main {
                  display: grid;
                  grid-template-columns: repeat(9, calc(100% / 9));
                  grid-template-rows: repeat(3, 1fr);
                  margin-bottom: 6px;

                  .slot {
                     margin-right: 4px;
                     margin-bottom: 4px;
                  }
               }
               .hotbar {
                  display: flex;

                  gap: 4px;
               }
            }
         }

         .slot {
            width: 45px;
            height: 45px;
            background: $bgMain;
            border-radius: 3px;
            position: relative;
            cursor: pointer;
            border: 3px solid $bgBlock;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
               opacity: 0.7;
            }
         }

         .throw_items_zone {
            width: 100%;
            height: 420px;
            border-radius: 5px;
            transition: 0.1s;

            &[data-active='true'] {
               box-shadow: 0 0 10px red;
               background: $--ep-color-danger-light-3;
            }
         }
      }

      .chat_container_loading {
         position: absolute;
         left: 0;
         top: 0;
         width: 100%;
         height: 524px;
         display: flex;
         align-items: center;
         justify-content: center;
         backdrop-filter: blur(5px);
         z-index: 1;
         border-radius: $borderRadius;
      }
   }
}

.hotbar_container {
   margin: 30px auto 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 5px;
   position: relative;
   background: $bgBlock;
   max-width: 790px;
   padding: 15px;
   border-radius: 5px;

   .info {
      display: flex;
      justify-content: space-around;
      align-items: center;

      color: gray;
      margin-bottom: 5px;
      background: $bgMain;
      width: 100%;
      margin-right: 10px;
      border-radius: 4px;
      height: 42px;
      padding: 5px 5px;
      font-weight: bold;

      .health {
         .health_count {
            color: red;
         }
      }

      .xp {
         .xp_count {
            color: green;
         }
      }

      .food {
         .food_count {
            color: orange;
         }
      }
   }

   .hotbar {
      display: flex;
      justify-content: center;
      gap: 4px;

      .slot {
         width: 45px;
         height: 45px;
         background: $bgMain;
         border-radius: 3px;
         position: relative;
         cursor: pointer;
         border: 3px solid $bgAverage;
         display: flex;
         justify-content: center;
         align-items: center;

         &[data-quick-slot='true'] {
            border: 3px solid gray;
         }

         &:hover {
            opacity: 0.7;
         }

         .count {
            z-index: 2;
            position: absolute;
            right: 2px;
            bottom: 0;
            color: #fff;
            font-weight: bold;
            user-select: none;
            pointer-events: none;
            text-shadow: $bgMain 1px 2px;
         }
      }
   }
   @media (max-width: 500px) {
      padding: 10px;
      .hotbar {
         .slot {
            width: 40px;
            height: 40px;
            img {
               width: 35px;
               height: 35px;
            }
         }
      }
   }
   @media (max-width: 450px) {
      padding: 10 5 5px;
      .hotbar {
         .slot {
            width: 37px;
            height: 37px;
            img {
               width: 32px;
               height: 32px;
            }
         }
      }
   }
   @media (max-width: 400px) {
      padding: 10 5 5px;
      .hotbar {
         gap: 0;

         .slot {
            width: 35px;
            height: 35px;
            img {
               width: 30px;
               height: 30px;
            }
         }
      }
   }
   @media (max-width: 400px) {
      padding: 7 5 5px;
      .hotbar {
         gap: 0;

         .slot {
            width: 33px;
            height: 33px;
            img {
               width: 28px;
               height: 28px;
            }
         }
      }
   }
}

.green {
   color: green;
   font-weight: bold;
   background: $bgBlock;
   padding: 0 5px 2px;
   border-radius: 5px;
   background: $bgMain;
   margin-left: 5px;
}

.red {
   color: red;
   font-weight: bold;
   background: $bgBlock;
   padding: 0 5px 2px;
   border-radius: 5px;
   background: $bgMain;
   margin-left: 5px;
}

.blur {
   position: absolute;
   z-index: 3;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   backdrop-filter: blur(5px);
   border-radius: 5px;
}

.switcher {
   display: flex;
   gap: 3px;
   background: $bgBlock;
   padding: 3px;
   border-radius: 3px;

   .side {
      color: $colorGray;
      cursor: pointer;
      border-radius: 3px;
      padding: 1px 5px;
      line-height: 25px;
      background: $bgMain;
      user-select: none;

      &[data-active='true'] {
         background: $--ep-color-success-light-3;
      }
   }
}
