.modal_body {
   display: flex;
   flex-direction: column;
   gap: 10px;

   .result {
      word-break: keep-all;
   }

   .modal_field {
      display: flex;
      flex-direction: column;
      gap: 7px;
      width: 320px;
      background: $bgAverage;
      padding: 7px;
      border-radius: 5px;
      border: 1px solid $bgMax;
      position: relative;

      .input_text {
         &[data-error='true'] {
            border: 1px solid #f75c48;
         }
      }

      .input_error {
         color: #f75c48;
         font-size: 15px;
         position: relative;
         bottom: 3px;
         left: 2px;
         height: 13px;
      }

      .input_success {
         color: $--ep-color-success;
         font-size: 15px;
         position: relative;
         bottom: 3px;
         height: 13px;
      }

      .check_promo {
         position: absolute;
         right: 11px;
         top: 36px;
         height: 28px;
         line-height: 10px;
      }
   }

   .modal_list {
      display: flex;
      flex-direction: column;
      background: $bgBlock;
      border: 1px solid $bgMax;
      border-radius: 5px;
      gap: 5px;
      padding: 5px;
      width: 350px;

      .list_item {
         padding: 5px;
         display: flex;
         gap: 5px;
         border-radius: 5px;
         background: $bgAverage;

         .item_description {
            color: gray;
         }
         .item_body {
            overflow: hidden;
            text-overflow: ellipsis;
         }
      }
   }

   .result {
      display: flex;
      justify-content: space-between;
      padding: 0 5px;
   }
}
